<?xml version="1.0" encoding="${encoding}"?>
<!--  Generate by ${autoName} Powered by duxing@Taobao -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">

    <bean id="${daoPropertyName}" class="${package}.${daoImplClassName}" parent="baseDAO"/>

</beans>
